body {
#  font-size: 16px;
  color: white;
  background-color: white;
  font-family: 'Oxygen', sans-serif;
}

#navbar-brand {
  font-weight: bold;
}

#header-nav {
  background-color: lightgray;
  border-width: medium;
  border-color: black;
}

#collapsable-nav, #main-content {
  background-color: white;
}

#main-content {
#  background-color: white;
#}

#home-tiles, .li-color {
  background-color: white;
  color: black;
}

#menu-tile {
  background-color: white;
}

 .tetas {
  background-color: lightgray;
  padding-left: 3%;
  padding-right: 3%;
  margin-left: 15px;
  margin-right:-12px;
}

#nav-list {
  margin-top: 10px;
}

#nav-list a {
  text-align: center;
}

#nav-list li {
  list-style-position:inside;
    border-top: 1px solid black;
}
